In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('train.csv')
df_train = pd.DataFrame(train_data)

In [3]:
test_data = pd.read_csv('test.csv')
df_test = pd.DataFrame(test_data)

In [4]:
df_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [5]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [6]:
df = pd.concat([df_train, df_test])
df.index = list(range(len(df)))

In [7]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
2915,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
2916,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
2917,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
2918,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [8]:
pd.set_option('display.max_rows', None)

In [9]:
# % of nans for column
round(df.isna().sum(axis=0) / len(df) * 100, 2)

Id                0.00
MSSubClass        0.00
MSZoning          0.14
LotFrontage      16.65
LotArea           0.00
Street            0.00
Alley            93.22
LotShape          0.00
LandContour       0.00
Utilities         0.07
LotConfig         0.00
LandSlope         0.00
Neighborhood      0.00
Condition1        0.00
Condition2        0.00
BldgType          0.00
HouseStyle        0.00
OverallQual       0.00
OverallCond       0.00
YearBuilt         0.00
YearRemodAdd      0.00
RoofStyle         0.00
RoofMatl          0.00
Exterior1st       0.03
Exterior2nd       0.03
MasVnrType       60.50
MasVnrArea        0.79
ExterQual         0.00
ExterCond         0.00
Foundation        0.00
BsmtQual          2.77
BsmtCond          2.81
BsmtExposure      2.81
BsmtFinType1      2.71
BsmtFinSF1        0.03
BsmtFinType2      2.74
BsmtFinSF2        0.03
BsmtUnfSF         0.03
TotalBsmtSF       0.03
Heating           0.00
HeatingQC         0.00
CentralAir        0.00
Electrical        0.03
1stFlrSF          0.00
2ndFlrSF          0.00
LowQualFinSF      0.00
GrLivArea         0.00
BsmtFullBath      0.07
BsmtHalfBath      0.07
FullBath          0.00
HalfBath          0.00
BedroomAbvGr      0.00
KitchenAbvGr      0.00
KitchenQual       0.03
TotRmsAbvGrd      0.00
Functional        0.07
Fireplaces        0.00
FireplaceQu      48.65
GarageType        5.38
GarageYrBlt       5.45
GarageFinish      5.45
GarageCars        0.03
GarageArea        0.03
GarageQual        5.45
GarageCond        5.45
PavedDrive        0.00
WoodDeckSF        0.00
OpenPorchSF       0.00
EnclosedPorch     0.00
3SsnPorch         0.00
ScreenPorch       0.00
PoolArea          0.00
PoolQC           99.66
Fence            80.44
MiscFeature      96.40
MiscVal           0.00
MoSold            0.00
YrSold            0.00
SaleType          0.03
SaleCondition     0.00
SalePrice        49.98
dtype: float64

In [10]:
pd.set_option('display.max_rows', 10)

In [11]:
# Delete the columns with more than 80% of nans
df = df.loc[:, df.isna().mean() < .8]

In [12]:
# Delete the columns with more than 20% of nans
df = df.dropna(thresh=len(df.columns)/100*80) # PS, no column has been deleted

In [13]:
# Create a df with the columns that contain the nans
df_nans = df.loc[:, df.isna().sum() != 0]
df_nans

,MSZoning,LotFrontage,Utilities,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,BsmtQual,BsmtCond,BsmtExposure,...,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,SaleType,SalePrice
0,RL,65.0,AllPub,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,No,...,NaN,Attchd,2003.0,RFn,2.0,548.0,TA,TA,WD,208500.0
1,RL,80.0,AllPub,MetalSd,MetalSd,NaN,0.0,Gd,TA,Gd,...,TA,Attchd,1976.0,RFn,2.0,460.0,TA,TA,WD,181500.0
2,RL,68.0,AllPub,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,Mn,...,TA,Attchd,2001.0,RFn,2.0,608.0,TA,TA,WD,223500.0
3,RL,60.0,AllPub,Wd Sdng,Wd Shng,NaN,0.0,TA,Gd,No,...,Gd,Detchd,1998.0,Unf,3.0,642.0,TA,TA,WD,140000.0
4,RL,84.0,AllPub,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,Av,...,TA,Attchd,2000.0,RFn,3.0,836.0,TA,TA,WD,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,RM,21.0,AllPub,CemntBd,CmentBd,NaN,0.0,TA,TA,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,WD,NaN
2915,RM,21.0,AllPub,CemntBd,CmentBd,NaN,0.0,TA,TA,No,...,NaN,CarPort,1970.0,Unf,1.0,286.0,TA,TA,WD,NaN
2916,RL,160.0,AllPub,VinylSd,VinylSd,NaN,0.0,TA,TA,No,...,TA,Detchd,1960.0,Unf,2.0,576.0,TA,TA,WD,NaN
2917,RL,62.0,AllPub,HdBoard,Wd Shng,NaN,0.0,Gd,TA,Av,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,WD,NaN
2918,RL,74.0,AllPub,HdBoard,HdBoard,BrkFace,94.0,Gd,TA,Av,...,TA,Attchd,1993.0,Fin,3.0,650.0,TA,TA,WD,NaN

# Code to fill/remove nans

In [14]:
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
numerical_cols = df.select_dtypes(include=['number']).columns

for col in categorical_cols:
    mode_value = df[col].mode()[0]  # Calcola la moda (primo valore se ce ne sono più di uno)
    df[col].fillna(mode_value, inplace=True)

for col in numerical_cols:
    median_value = df[col].median()  # Calcola la mediana
    df[col].fillna(median_value, inplace=True)

C:\Users\kevin\AppData\Local\Temp\ipykernel_21096\472762556.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)
C:\Users\kevin\AppData\Local\Temp\ipykernel_21096\472762556.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)

In [15]:
df.loc[1460:, 'SalePrice'] = 0

In [16]:
# Checkpoint
df.to_csv('train_and_test_updated.csv')

# Encoding

In [17]:
mean_price_per_neighborhood = round(df.groupby('Neighborhood')['SalePrice'].mean())

In [18]:
mean_price_per_neighborhood

Neighborhood
Blmngtn    118314.0
Blueste     27500.0
BrDale      55730.0
BrkSide     67041.0
ClearCr    135269.0
             ...
SawyerW     88054.0
Somerst    106498.0
StoneBr    152205.0
Timber     127853.0
Veenker    109438.0
Name: SalePrice, Length: 25, dtype: float64

In [19]:
df['Neighborhood'] = df['Neighborhood'].map(mean_price_per_neighborhood)

In [20]:
df = pd.get_dummies(df, columns=df.select_dtypes(include=['object']).columns, drop_first=True).astype(int)

In [21]:
df

,Id,MSSubClass,LotFrontage,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65,8450,111217,7,5,2003,2003,196,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80,9600,109438,6,8,1976,1976,0,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68,11250,111217,7,5,2001,2002,162,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60,9550,104290,7,5,1915,1970,0,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84,14260,193621,8,5,2000,2000,350,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,21,1936,45292,4,7,1970,1970,0,...,0,0,0,0,1,0,0,0,1,0
2915,2916,160,21,1894,45292,4,5,1970,1970,0,...,0,0,0,0,1,0,0,0,0,0
2916,2917,20,160,20000,67169,5,7,1960,1996,0,...,0,0,0,0,1,0,0,0,0,0
2917,2918,85,62,10441,67169,5,5,1992,1992,0,...,0,0,0,0,1,0,0,0,1,0
2918,2919,60,74,9627,67169,7,5,1993,1994,94,...,0,0,0,0,1,0,0,0,1,0

In [22]:
# Checkpoint
df.to_csv('train_and_test_updated.csv', index=False)

# Outliers management

In [23]:
def identify_outliers(df, column):
    """
    Identify outliers in a column.
    """
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    return df[(df[column] < lower_bound) | (df[column] > upper_bound)]

In [24]:
df.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'Neighborhood',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea',
       ...
       'SaleType_ConLI', 'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth',
       'SaleType_WD', 'SaleCondition_AdjLand', 'SaleCondition_Alloca',
       'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=214)

In [25]:
len(df)

2919

In [26]:
df.drop('Id', axis=1, inplace=True)

In [27]:
df_train = df.loc[:1459]

In [28]:
df_test = df.loc[1460:]

In [29]:
df_test.drop('SalePrice', axis=1, inplace=True)

C:\Users\kevin\AppData\Local\Temp\ipykernel_21096\2926477473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test.drop('SalePrice', axis=1, inplace=True)

In [33]:
df_train.to_csv('train_upd.csv', index=False)

In [34]:
df_test.to_csv('test_upd.csv', index=False)